#leaderboardContainer {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.leaderboardContent {
    height: calc(90% - 80px);
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.leaderboardContent::-webkit-scrollbar {
    display: none;
}

.leaderboard {
    width: 500px;
    max-height: 80%;
    overflow-y: scroll;
    padding: 20px;
    background-color: gray;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.leaderboard::-webkit-scrollbar {
    display: none;
}

.leaderBoardTitle {
    width: 460px;
    height: 60px;
    padding: 20px;
    color: white;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: rgb(198, 198, 198);
    margin-bottom: 40px;
}

.leaderboardHeader {
    width: 460px;
    height: 80px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: rgb(193, 193, 193);
    border-radius: 20px;
}

.leaderboardHeaderPlace {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaderboardHeaderImage {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaderboardHeaderName {
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaderboardHeaderNumber {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaderboardEntry {
    width: 460px;
    height: 80px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: rgb(193, 193, 193);
    border-radius: 20px;
    padding: 20px;
}

.leaderboardEntryPlace {
    background-color: darkgray;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaderboardEntryImage {
    width: 60px;
    height: 60px;
}

.leaderboardEntryImage img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: fill;
}

.leaderboardEntryName {
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.leaderboardEntryNumber {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 720px) { 
    .leaderboard {
        max-width: calc(90% - 40px);
        font-size: 12px;
    }

    .leaderBoardTitle {
        width: 90%;
    }

    .leaderboardHeader {
        width: 90%;
        height: 80px;
        padding: 20px;
        margin-bottom: 20px;
    }

    .leaderboardHeaderPlace {
        width: 30px;
        height: 40px;
        margin-right: 10px;
    }

    .leaderboardHeaderImage {
        width: 40px;
        height: 40px;
    }

    .leaderboardHeaderName {
        width: 100px;
        height: 40px;
    }

    .leaderboardHeaderNumber {
        width: 40px;
        height: 40px;
    }

    .leaderboardEntry {
        width: 90%;
        height: 80px;
        margin-bottom: 20px;
        padding: 20px;
    }

    .leaderboardEntryPlace {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    .leaderboardEntryImage {
        width: 40px;
        height: 40px;
    }

    .leaderboardEntryImage img {
        width: 100%;
        height: 100%;
    }

    .leaderboardEntryName {
        width: 100px;
        height: 640px;
    }

    .leaderboardEntryNumber {
        width: 40px;
        height: 40px;
    }
}